﻿/** Issue Number */
.ipdb-issuenumber-active {
	font-weight: bold !important;
}

/** TAGS */

.ipdb-donotmerge-tag-active {
	color: rgb(218, 29, 44) !important;
	font-weight: bold !important;
}

.ipdb-workinprogress-tag-active {
	color: rgb(221, 151, 0);
	font-weight: bold !important;
}

.ipdb-priority-tag-active {
	color: #FB6107 !important;
	font-weight: bold !important;
}

.ipdb-epic-tag-active {
	color: rgb(104, 171, 197) !important;
	font-weight: bold !important;
}

/** ICONS */
.ipdb-icon {
	fill: #b6b6b6;
	padding-right: 3px;
}

.ipdb-icon-priority-active {
	fill: #FB6107;
}

.ipdb-icon-workinprogress-active {
	fill: rgb(221, 151, 0);
}

.ipdb-icon-donotmerge-active {
	fill: rgb(218, 29, 44);
}

.ipdb-icon-epic-active {
	fill: rgb(104, 171, 197);
}

.ipdb-icon-sm {
	width: 15px;
	height: 15px;
	margin-bottom: -3px;
}

.ipdb-icon-lg {
	width: 20px;
	height: 20px;
	margin-bottom: -3px;
}

.ipdb-diff-text {
	color: steelblue;
}

/** CMS Banner */
.ipdb-cms-banner {
	width: 100%;
	height: 18px;
	position: fixed;
	background: #333;
	padding: 0px 0;
	color: #fff;
	top: 0;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.ipdb-cms-banner-development {
	background: rgba(0, 128, 0, 0.75);
}

.ipdb-cms-banner-staging {
	background: rgba(255, 165, 0, 0.75);
}

.ipdb-cms-banner-production {
	background: rgba(255, 0, 0, 0.75);
}

/** CMS Logo */
.ipdb-cms-logo-development {
	background: rgba(0, 128, 0, 0.90);
	color: white !important;
}

.ipdb-cms-logo-staging {
	background: rgba(255, 165, 0, 0.90);
	color: white !important;
}

.ipdb-cms-logo-production {
	background: rgba(255, 0, 0, 0.90);
	color: white !important;
}

.ipdb-cms-logo-production-animated {
	animation: ipdb-cms-pulsate-red 5s infinite;
	color: white !important;
}

@keyframes ipdb-cms-pulsate-red {
	0% {
		background: rgba(255,0,0, 0);
	}

	10% {
		background: rgba(255,0,0, 1);
	}

	90% {
		background: rgba(255,0,0, 1);
	}

	100% {
		background: rgba(255,0,0, 0);
	}
}

/** Merge button */
.ipdb-btn-merge-disabled {
	background-color: #ffb6b6 !important;
	color: aliceblue !important;
}

/** Pull request list row */
.ipdb-summary-row-dimmed {
	opacity: 0.4;
}

	.ipdb-summary-row-dimmed:hover {
		opacity: 0.85;
	}

.ipdb-summary-row-focused {
	background: rgba(70, 130, 180, 0.07) !important;
}

	.ipdb-summary-row-focused:hover {
		background: rgba(70, 130, 180, 0.12) !important;
	}

.ipdb-summary-row {
	/*background: rgba(200, 214, 222, 0.50);*/
}

/** Target branch coloring */
.ipdb-branch-tag-master-active {
	color: #78b51b;
}

.ipdb-branch-tag-production-active {
	color: orangered;
}

.ipdb-branch-tag-other-active {
	color: mediumpurple;
}

.ipdb-branch-tag-self {
	cursor: copy;
}

.ipdb-highlight-like {
	background: rgba(0, 191, 255, 0.50) !important;
	padding-left: 0px;
	padding-right: 10px;
	border-radius: 3px;
}

.ipdb-apply-commit-textarea {
	margin: 0px;
	width: 100%;
	max-width: 100% !important;
}

.pull-request-tags-label {
	font-size: 0.857143em !important;
	font-style: inherit !important;
	line-height: 1.33333 !important;
	color: rgb(154, 145, 132) !important;
	font-weight: 600 !important;
	display: inline-block !important;
	margin-bottom: 4px !important;
	margin-top: 8px !important;
}

.ipdb-reload-page {
	background-color: rgb(161, 161, 161) !important;
	height: 100vh;
	text-align: center;
}