﻿.btn-default {
	height: 35px;
	width: 100%;
	outline: none;
	color: white;
}

.btn-inactive {
	height: 35px;
	width: 100%;
	outline: none;
	/*background-color: lightcoral;*/
	color: white;
}

.btn-active {
	background-color: #028a6d !important;
}

.btn-spacing {
	margin-top: 5px;
}

.hidden {
	display: none;
}