﻿button {
	height: 30px;
	width: 30px;
	outline: none;
	margin: 10px;
}

.header {
	background-color: rgb(229, 229, 229);
}

.logo-img {
	width: 100px;
}

.input {
	width: 400px;
}

.textarea {
	width: 400px;
	min-height: 100px !important;
	resize: vertical !important;
	overflow: auto !important;
}

.section {
	padding-top: 10px;
}

.domain-list {
	height: 80px !important;
}