﻿body {
	width: 600px;
}

.container-slim {
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.title {
	font-size: 30px;
}

.subtitle {
	color: darkcyan;
	font-size: 16px;
	font-weight: bold;
}

.icon-aligned {
	padding-top: 15px;
	width: 48px;
}

.isDisabled {
	background-color: grey !important;
}